**/coverage.html
**/npm-debug.log
**/profiling-output.txt
**/v8.log
.DS_Store
.idea
.nyc_output/
.project
.settings
application.log
/out
build/build_tag
build/mail/bin
build/mail/release.tar
build/release.tar
coverage/
node_modules/
proxy/nginx.conf
service-mail.iml
npm-debug.log
