.idea
.project
.settings
.DS_Store
node_modules/
**/coverage.html
**/npm-debug.log
**/profiling-output.txt
**/v8.log
proxy/nginx.conf
service-mail.iml
yarn-error.log
/flow-coverage/
/out
.nyc_output/
build/build_tag
build/mail/release.tar
build/release.tar
build/mail/bin