<p><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif">Hi,<br />
Il paraît que vous avez oublié votre mot de passe Pryv. Si vous avez bien demandé la réinitialisation de votre mot de passe, merci de cliquer sur le lien ci-dessous. Si ce n'était pas vous, merci de supprimer cet email.<br />
<br />
<a href="#{RESET_URL}?resetToken=#{RESET_TOKEN}" target="_blank">C</a><a href="#{RESET_URL}?resetToken={RESET_TOKEN}" target="_blank">lick here to reset your Pryv password</a>.</span><br />
<br />
L'équipe Pryv</p>
