<img src="https://pryv.com/wp-content/uploads/2018/04/logo-1024-jpg-650x230.jpg" alt="Logo"> 

<h1><span style="color:#bd1026">Bonjour</span> #{USERNAME},</h1>

<h2><span style="color:#bd1026">Merci pour la création de votre compte Pryv</span></h2>

<p style="text-align: justify;">Nous avons développé Pryv pour vous fournir une place pour collecter et unifier vos données de vies, tout en respectant votre sécurité et votre vie privée. Connectez vos applications et appareils, gérez et partagez en toute conscience.<br/></p>

<p style="text-align: center;">Informations que vous nous avez confiées:<br/>
<strong>Email</strong>: #{EMAIL}<br/>
<strong>Votre compte:</strong> <a href="https://#{USERNAME}.pryv.me" target="_blank">#{USERNAME}.pryv.me</a><br/></p>
 