<img src="https://pryv.com/wp-content/uploads/2018/04/logo-1024-jpg-650x230.jpg" alt="Logo"> 

<h1><span style="color:#bd1026">Hey</span> #{USERNAME},</h1>

<h2><span style="color:#bd1026">Thanks for creating your Pryv account</span></h2>

<p style="text-align: justify;">We have built Pryv so you could have a private and secure place to collect and unite your personal digital life. Connect apps and devices, get insight and share selectively.<br/></p>

<p style="text-align: center;">Information you entrusted us with:<br/>
<strong>Email</strong>: #{EMAIL}<br/>
<strong>Your account:</strong> <a href="https://#{USERNAME}.pryv.me" target="_blank">#{USERNAME}.pryv.me</a><br/></p>
