<p><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif">Hi,<br />
We have received word that you have lost your password. If you have asked for a password request please click on the link below. If you did not please delete this email.<br />
<br />
<a href="#{RESET_URL}?resetToken=#{RESET_TOKEN}" target="_blank">C</a><a href="#{RESET_URL}?resetToken={RESET_TOKEN}" target="_blank">lick here to reset your Pryv password</a>.</span><br />
<br />
Pryv team</p>
